#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  width: 800px;
  background-color: #eeeeee;
  border: 4px solid black;
  border-radius: 4px;
}

@media only screen and (max-width: 1000px) {
  .card {
    padding: 2em;
    width: calc(100% - 4em);
  }
  #root {
    width: 100%;
  }
}

.read-the-docs {
  color: #888;
}
